.partners {
	padding: 70px 0;

    
}

.partners-inner {
    background-image: url('../../../assets/parters/partnership.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	object-position: center;
    padding: 20px;
}

.partners-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 134%;
	/* or 27px */

	display: flex;
	align-items: center;

	color: #3996f7;
}

.partners-img {
    display: flex;
    gap: 30px;
}